<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="primary" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="custom" [formControl]="searchControl"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-margin">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Search
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <!-- <input matInput [(ngModel)]='term'> -->
    <ion-searchbar [(ngModel)]='term'></ion-searchbar>
  </ion-toolbar>

  <!-- <div *ngFor="let item of products$ | async | customFilter: term">
    <p>
      {{item}}
    </p>
  </div> -->

  <ion-card>
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="ion-padding cdk-viewport">
      <ion-list *cdkVirtualFor="let item of products$ | async | customFilter: term" class="product-item">
        <ion-item button lines="full">
          <ion-label>
            {{ item?.EAN13 }} <br />
            {{ item.DESCRICAO }} <br />
            {{ item?.PRECO_VENDA }} <br />
          </ion-label>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </ion-card>


  <!-- <ion-card>
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="ion-padding cdk-viewport">
      <ion-list *cdkVirtualFor="let item of products$ | async" class="product-item">
        <ion-item button lines="full">
          <ion-label>
            {{ item?.EAN13 }} <br />
            {{ item.DESCRICAO }} <br />
            {{ item?.PRECO_VENDA }} <br />
          </ion-label>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </ion-card> -->

  <!-- 
  CODIGO: 7898350540016
  DESCRICAO: " BEBIDA LACTEA FRUTILAC MORANG"
  EAN13: 7896862001780
  MARCA: "MARCAS DIVERSAS"
  PRECO_VENDA: "1,64"
  QUANTIDADE: -14 
-->

</ion-content>