/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
    --background: var(--ion-color-primary);
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
    --border-radius: 4px;
}

ion-searchbar.ios.custom {
    --cancel-button-color: #19422d;
}

ion-searchbar.md.custom {
    --cancel-button-color: #fff;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.cdk-viewport {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.product-item {
    height: 50px;
}