<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-margin">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item>
      <ion-text color="dark">
        date saved: {{ fileDate | date }}
      </ion-text>
    </ion-item>
    <ion-item>
      <div>
        has File <ion-text CLASS="ball" color="success"></ion-text>
      </div>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-button expand="block" fill="outline" shape="round">
        <input (change)="onFileChange($event)" type="file" id="file-upload" />
        <label for="file-upload">Upload a file</label>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- <table>
    <tr style="border: 1px solid black;">
      <th style="border: 1px solid black;">CODIGO</th>
      <th style="border: 1px solid black;">EARN13</th>
      <th style="border: 1px solid black;">DESCRICAO</th>
      <th style="border: 1px solid black;">PRECO VENDA</th>
    </tr>
    <tr style="border: 1px solid black;" *ngFor="let item of products">
      <td style="border: 1px solid black;">{{ item.CODIGO }}</td>
      <td style="border: 1px solid black;">{{ item.EAN13 }}</td>
      <td style="border: 1px solid black;">{{ item.DESCRICAO }}</td>
      <td style="border: 1px solid black;">{{ item.PRECO_VENDA }}</td>
    </tr>
  </table> -->

  <ion-row>
    <ion-col>
      <ion-item *ngFor="let item of products" style="border:solid 1px black">
        Codigo:- {{ item.CODIGO }} <br />
        Ean13:- {{ item.EAN13 }} <br />
        Desc:- {{ item.DESCRICAO }} <br />
        Preco:- {{ item.PRECO_VENDA }} <br />
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" fill="outline" shape="round" (click)="scanPage()">
      Scan
    </ion-button>
  </ion-toolbar>
</ion-footer>