input[type="file"] {
  opacity: 0;
  /* make transparent */
  z-index: -1;
  /* move under anything else */
  position: absolute;
  /* don't let it take up space */
}

.ball{
  height: 40px;
  width: 40px;
  background-color: var(--ion-color-success);
  border-radius: 50%;
  display: inline-block;
}